.jumbotron {
  background-color: #7F462C;
  color: white;
  margin-top: 20px;
}
.panel-heading {
  width: 100%;
  background-color: #337AB7;
  color: white;
  margin-top: 20px;
  font-weight: bold;
  clear: both;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 18px;
}
.panel.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
}
